
.footer-container {
    background-color:rgb(6, 7, 10) !important;
    width: 95vw;
    color: white;
    
    text-align: center;
  }

  a{
    color: white !important;
    
  }
  
  .icon {
    vertical-align: middle;
    text-decoration: none;
    color: white;
  }
  