
.footer-container {
    background-color: rgb(10, 10, 10) !important;
    width: 97.8%;
    color: white;
    padding: 20px;
    text-align: center;
  }

  a{
    color: white !important;
    
  }
  
  .icon {
    margin-right: 8px;
    vertical-align: middle;
    text-decoration: none;
    color: white;
  }
  