@media (max-width: 1300px) {
    .background-image {
        height: 75vh !important;
        
    }
    
      
}



@media (max-width: 900px) {
    .background-image {
        height: 60vh !important;
        
    }
    .footer-container{
        width: 95vw !important;
    }
    
}
 
 @media (max-width: 768px) {
    
    .productcard {
      
      flex-direction: column;
      margin-bottom: 1rem;
      
    }
    
    
    
    
   
}







