
.description-text {
    font-size: 18px; 
  } 

  
    @media (max-width: 1600px) {
        .description-text {
          font-size: 16px; 
        }
        
    }
    
      @media (max-width: 1400px) {
        .description-text {
          font-size: 14px; 
        }
        
    }

  
@media (min-width: 769px) and (max-width: 1200px) {
    .description-text {
      font-size: 11px; 
    }
    
  }  


  @media (max-width: 768px) {
    .description-text {
      font-size: 10px; 
    }
    
  }

  @media (max-width: 600px) {
    .description-text {
      font-size: 8px; 
    }
    
  }
  
  @media (max-width: 368px) {
    .description-text {
      font-size: 4px; 
    }
    
  }

  @media (max-width: 200px) {
    .description-text {
      font-size: 2px; 
    }
    
  }
 
  @media (max-width: 768px) {
    
    .product-card {
      flex-direction: column;
      
    }
  
   
}
